/* Category Select Wrapper */
.category-select-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--spacing-xs);
    padding: var(--spacing-xs) 0 0;
    margin-bottom: var(--spacing-md);
}

.category-select-wrapper label {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: var(--spacing-xs);
}


/* Filter specific styles */
.category-select_filter {
    margin: 0;
    padding: var(--spacing-xs);
}

.category-select-wrapper_filter {
    margin: 0;
    padding: 0;
}

/* Responsive adjustments for larger screens */
@media (min-width: 900px) {
    .category-select-wrapper {
        flex-direction: row;
        align-items: baseline;
        gap: var(--spacing-sm);
        padding: var(--spacing-xs) var(--spacing-lg) 0 0;
        font-size: 14px;
    }

    .category-select-wrapper label {
        white-space: nowrap;
    }

    /* Filter specific styles */

    .category-select-wrapper_filter {
        margin: 0;
        padding: 0;
    }
}

