/* Category Select Wrapper */
.category-select-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--spacing-xs);
    padding: var(--spacing-xs) 0 0;
    margin-bottom: var(--spacing-md);
}

.category-select-wrapper label {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: var(--spacing-xs);
}


/* Filter specific styles */
.category-select_filter {
    margin: 0;
    padding: var(--spacing-xs);
}

.category-select-wrapper_filter {
    margin: 0;
    padding: 0;
}

.category-settings-icon-picker {
    width: 100px;
}

.category-settings-icon-picker-options {
    height: 200px;
    overflow-y: auto;
    border: 1px solid var(--color-border);
    width: 100px;
    background: var(--color-surface);
    color: contrast-color(var(--color-surface));
}

.category-dot-icon {
    width: 7px;
    height: 7px;
    border-radius: 50%;
    flex-shrink: 0;
    background-color: var(--category-background-color);
}

/* Responsive adjustments for larger screens */
@media (min-width: 900px) {
    .category-select-wrapper {
        flex-direction: row;
        align-items: baseline;
        gap: var(--spacing-sm);
        padding: var(--spacing-xs) var(--spacing-lg) 0 0;
        font-size: 14px;
    }

    .category-select-wrapper label {
        white-space: nowrap;
    }

    /* Filter specific styles */

    .category-select-wrapper_filter {
        margin: 0;
        padding: 0;
    }
}

