/* =========================
   Page Layout
========================= */

.page_container {
    max-width: 100vw;
    height: 100dvh;
    color: inherit;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    overflow: hidden;
    box-sizing: border-box;
}

.page-content {
    min-height: 0;
    width: 100%;
    margin: 0 auto;
    padding: 0;
    flex: 1 1 auto;
    overflow-y: auto;
}


/* =========================
   Page Titles
========================= */

.page_h1 {
    font-family: "Outfit", Arial, sans-serif;
    font-size: 28px;
    font-weight: 400;
    letter-spacing: 1px;
    margin: 0 0 0 var(--spacing-md);
    color: contrast-color(var(--color-background));
}
.app_subtitle {
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.5px;
    opacity: 0.75;
    margin: 0;
    color: contrast-color(var(--color-background));
    transform: translateY(0px);
}

.app_subtitle > span {
    margin: 0;
    font-size: 12px;
    opacity: 0.75;
}

.page_h2 {
    font-size: 18px;
    font-weight: 500;
    margin: var(--spacing-xl) 0 0 var(--spacing-md);
    color: contrast-color(var(--color-background));
}

/* =========================
   Buttons
========================= */

.page-btn {
    display: inline-flex;
    align-items: center;
    gap: var(--spacing-xs);
    padding: var(--spacing-xs) var(--spacing-md);
    border-radius: var(--radius-md);
    font-weight: 500;
    border: 1px solid transparent;
    cursor: pointer;
    text-decoration: none;
    transition:
        background var(--transition-fast),
        color var(--transition-fast),
        border var(--transition-fast),
        transform 0.05s ease;
}

.page-btn:active {
    transform: translateY(1px);
}

/* Primary Button */
.page-btn--primary {
    background: var(--color-primary);
    color: contrast-color(var(--color-primary));
}

.page-btn--primary:hover {
    background: var(--color-primary-hover);
}


@media (min-width: 900px) {

    .page_h2 {
        margin: var(--spacing-xl) 0 var(--spacing-md) 0;
    }

    .app_subtitle {
        transform: translateY(4px);
    }


    .app_subtitle>span {
        margin: 0 var(--spacing-xs);
    }

}
