/* =========================
   Page Layout
========================= */

.page_container {
    max-width: 100vw;
    min-height: 100vh;
    background: var(--color-background);
    color: var(--color-text-primary);
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.page-content {
    height: calc(100vh - 80px);
    /* Full height minus header */
    width: 100%;
    margin: 0 auto;
    padding: 0;
    flex: 1;
}

.page-btn--home {
    position: absolute;
    top: 45px;
    left: var(--spacing-md);
}


/* =========================
   Page Titles
========================= */

.page_h1 {
    font-family: 'Space Grotesk', 'Orbitron', 'Rajdhani', -apple-system, BlinkMacSystemFont, sans-serif;
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 0.5px;
    margin: 0 0 0 var(--spacing-md);
}
.app_subtitle {
    font-family: 'Space Grotesk', 'Orbitron', 'Rajdhani', -apple-system, BlinkMacSystemFont, sans-serif;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.5px;
    opacity: 0.75;
    margin: var(--spacing-xs) 0 0 var(--spacing-md);
    color: var(--color-text-dark-light);
}

.app_subtitle {
    margin: 0;
}
.app_subtitle>span {
    margin: 0;
    font-size: 12px;
}

.page_h2 {
    font-size: 18px;
    font-weight: 500;
    margin: var(--spacing-xl) 0 0 var(--spacing-md);
}

/* =========================
   Buttons
========================= */

.page-btn {
    display: inline-flex;
    align-items: center;
    gap: var(--spacing-xs);
    padding: var(--spacing-xs) var(--spacing-md);
    border-radius: var(--radius-md);
    font-weight: 500;
    border: 1px solid transparent;
    cursor: pointer;
    text-decoration: none;
    transition:
        background var(--transition-fast),
        color var(--transition-fast),
        border var(--transition-fast),
        transform 0.05s ease;
}

.page-btn:active {
    transform: translateY(1px);
}

/* Primary Button */
.page-btn--primary {
    background: var(--color-primary);
    color: var(--color-text-light);
}

.page-btn--primary:hover {
    background: var(--color-primary-dark);
}


@media (min-width: 900px) {
    .page-btn--home {
        top: 75px;
        left: 0;
    }

    .page_h2 {
        margin: var(--spacing-xl) 0 var(--spacing-md) 0;
    }


    .app_subtitle>span {
        margin: 0 var(--spacing-xs);
    }

}
