/* Nature: forest green + golden yellow */
:root[data-theme-style="nature"] {

    color-scheme: light dark;

    /* user-defined colors */
    --color-primary-light: #15803d;
    --color-primary-dark: #22c55e;
    --color-primary: light-dark(var(--color-primary-light), var(--color-primary-dark));
    --color-accent-light: #ffcc00;
    --color-accent-dark: #d7ac00;
    --color-accent: light-dark(var(--color-accent-light), var(--color-accent-dark));
    --color-background-light: #d6ffe2;
    --color-background-dark: #004102;
    --color-background: light-dark(var(--color-background-light), var(--color-background-dark));
}

:root[data-theme-style="nature"] .nature-fireflies-canvas {
    position: fixed;
    inset: 0;
    pointer-events: none;
    z-index: 2;
    opacity: 0.9;
}

:root[data-theme-style="nature"] body {
    background: linear-gradient(to bottom,
            light-dark(#c0fcd6, #064e3b) 0%,
            light-dark(#71e69c, #14532d) 30%,
            light-dark(#54f095, #052e16) 60%,
            light-dark(#1caa57, #020617) 100%);
    background-attachment: fixed;
    position: relative;
    overflow: hidden;
}
