::view-transition-old(root),
::view-transition-new(root) {
    animation: none;
    mix-blend-mode: normal;
}

::view-transition-old(root) {
    z-index: 1;
}

::view-transition-new(root) {
    z-index: 2;
}

.dark-light-toggle-button {
    border: 0;
    padding: 0px 8px 0px 8px;
    height: 44px;
    width: 44px;
}
