.encryption-status-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 8px;
}

.encryption-status-header {
    display: flex;
    justify-content: flex-start;
    min-width: 0;
    gap: 24px;
}

.encryption-status {
    background-color: var(--color-surface);
    color: contrast-color(var(--color-text-primary));
    padding: 0.5rem 1rem;
    border: 1px solid var(--color-border);
    border-radius: 999px;
    font-weight: bold;
    text-align: center;
    min-width: 44px;
    font-size: 12px;
    display: flex;
    align-items: center;
    gap: 8px;
}

.encryption-status--not_encrypted {
    background-color: var(--color-surface);
    color: var(--color-warning);
    border: 1px solid var(--color-warning);
}

.encryption-status--migrating {
    background-color: var(--color-surface);
    color: var(--color-info);
    border: 1px solid var(--color-info);
}

.encryption-status--loading svg {
    animation: rotate 2s linear infinite;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.encryption-status--encrypted {
    background-color: var(--color-surface);
    color: var(--color-success);
    border: 1px solid var(--color-success);
}

.encryption-status--error {
    background-color: var(--color-surface);
    color: var(--color-danger);
    border: 1px solid var(--color-danger);
}

.start-encryption-button {
    padding: 0.5rem 1rem;
    background-color: var(--color-primary);
    color: contrast-color(var(--color-primary));
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
    font-weight: bold;
}

.encryption-progress {
    width: 100%;
    max-width: 300px;
    display: flex;
    justify-content: space-between;
}

.failed-entries {
    margin-top: var(--spacing-xl);
}

.table-overflow-container {
    width: 375px;
    height: 100%;
    max-height: 200px;
    overflow: auto;
    max-width: 100%;
    -webkit-overflow-scrolling: touch;
}

@media (min-width: 650px) {
    .table-overflow-container {
        width: 600px;
    }
}

.table-overflow-container table {
    width: 100%;
    border-collapse: collapse;
    white-space: nowrap;
}

.failed-entry-column {
    border: 1px solid var(--color-border);
    text-align: left;
    padding: var(--spacing-sm);
}

.unlock-dialog-panel {
    z-index: 41;
    padding-block: var(--spacing-lg) var(--spacing-lg);
    padding-inline: var(--spacing-lg);
    background-color: var(--color-surface);
    color: contrast-color(var(--color-text-primary));
    border-radius: var(--border-radius);
    width: 100vw;
    height: 100vh;
    overflow-y: auto;
    position: absolute;
    top: 0;
    margin: 0;
}
