.new-task-form-toggle-button {
    grid-area: create;
    height: 44px;
    width: 44px;
    aspect-ratio: 1 / 1;
    background: var(--color-primary);
    opacity: 0.9;
    color: var(--color-text-light);
    border: none;
    border-radius: var(--radius-full);
    box-sizing: border-box;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s ease;
    padding: var(--spacing-xs) var(--spacing-sm);
    gap: var(--spacing-xs);
    width: fit-content;
    margin: auto 0 auto auto;
    position: fixed;
    bottom: calc(var(--mobile-tab-bar-height) + var(--fab-spacing));
    right: 25px;
    z-index: 99999;
}

.new-task-form-toggle-button:hover {
    box-shadow: 0 0px 2px 2px rgba(255, 228, 24, 1);
}

.new-task-form-toggle-button:active {
    box-shadow: 0 4px 12px var(--color-priority);
}

@media (min-width: 900px) {
    .new-task-form-toggle-button {
        padding: 0 var(--spacing-md);
        box-sizing: border-box;
        height: 44px;
        position: static;
        z-index: 0;
        border-radius: var(--radius-md);
        opacity: 1;
    }

    .new-task-form-toggle-button::after {
        content: "Create";
    }
}
