.drawer-close-button {
    background: transparent;
    border: none;
    padding: 0;
    margin-left: 12px;
    cursor: pointer;
    color: inherit;
}

.drawer-close-icon {
    color: inherit;
    cursor: pointer;
}
